*~
.libs
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
Makefile
Makefile.fragments
Makefile.objects
run-tests.php
build
modules
*.o
*.lo
*.la
*.dep
*.so
autom4te.cache
